In [ ]:

# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [6]:
# Run this code:

pokemon = pd.read_csv(r'C:\Users\josea\OneDrive\Escritorio\data_labs\lab-two-sample-hypothesis-tests\pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [7]:
# Your code here:

pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [11]:
# Your code here:

pokemon.groupby('Legendary')['#'].count()

Legendary
False    735
True      65
Name: #, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [32]:
# Your code here:
print(pokemon.groupby('Legendary')['Total'].mean())
print(pokemon.groupby('Legendary')['Total'].std())

Legendary
False    417.213605
True     637.384615
Name: Total, dtype: float64
Legendary
False    106.760417
True      60.937389
Name: Total, dtype: float64

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [37]:
# Your code here:
from scipy.stats import ttest_ind
test=ttest_ind(pokemon.Total[pokemon.Legendary==True], pokemon.Total[pokemon.Legendary!=True], equal_var=False)
print(test)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957444e-47)

What do you conclude from this test? Write your conclusions below.

In [ ]:
# Your conclusions here:
#we will reject the null hypothesis and conclude that there is a significant difference between the two sample means and deviations

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [41]:
# Your code here:
#pokemon['Type 1'].unique()
pokemon.groupby('Type 1')['Total'].count()

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: Total, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [53]:
# Your code here:
print(pokemon['Total'][pokemon['Type 1']=='Water'].mean())
print(pokemon['Total'][pokemon['Type 1']!='Water'].mean())
print(pokemon['Total'][pokemon['Type 1']=='Water'].std())
print(pokemon['Total'][pokemon['Type 1']!='Water'].std())

#pokemon.Total[pokemon.Legendary==True

430.45535714285717
435.85901162790697
113.1882660643146
121.0916823020807

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [54]:
# Your code here:
test2=ttest_ind(pokemon.Total[pokemon['Type 1']=='Water'], pokemon.Total[pokemon.Total[pokemon['Type 1']!='Water']], equal_var=True)
print(test2)

Ttest_indResult(statistic=-0.9137469375045075, pvalue=0.3611258236686984)

Write your conclusion below.

In [ ]:
# Your conclusions here:
#we will accept the null hypothesis and conclude that there is no significant difference between the two sample means and deviations

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [55]:
# Your code here:
from scipy.stats import ttest_rel

test3=ttest_rel(pokemon.Attack, pokemon.Defense)
print(test3)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:
#we will reject the null hypothesis and conclude that there is a significant difference between the two sample means

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [57]:
# Your code here:
test4=ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])
print(test4)

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:

#we will accept the null hypothesis and conclude that there is no significant difference between the two sample means

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [61]:
# Your code here:
Difference=pokemon.Defense-pokemon.Attack
from scipy.stats import ttest_1samp

test5=ttest_1samp(Difference,0)
print(test5)

Ttest_1sampResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [ ]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [ ]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here: